gcp_credentials_json = "GCP credential json"
project              = "GCP project name"
region               = "vm instance region"
user                 = "vm instance user name"
publickeypath        = "public key id_rsa.pub"
privatekeypath       = "private key id_rsa"
email                = "GCP service account email"
wg_host              = "WireGuard host ip or FQDN"
wg_password          = "WireGuard host admin pass"
